:root {
    --primary-text-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-color: #757575;
    --primary-bg-color: #000000;
}

/*Стили для index.html*/
body {
    background:#FFFFFF;
    color: #757575;
}

.list {
    list-style: none;
}
.logo {
    color: black;
}

.logo-blue {
    color: #2196F3;
}

.logo-black {
    color: #000000;
}

.site-nav .link {
    color: #212121;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}

.site-nav .link .current {
    color: #2196F3;
}
.contact {
    color: #757575;
}

.contact:hover,
.contact:focus {
    color: #2196F3;
}

.hero-title{
    background:  rgba(47, 48, 58, 0.8);
    color: #FFFFFF;
}

.button {
    color: #000000;
    background-color: #ffffff;
}

.button.primary {
    background: #2196F3;
    color: #ffffff;
}
.section-title {
    color: #212121;
}

.section-name {
    color: purple;
}
.section-text {
    color: #757575;
}

.section-titles {
    color: #212121;
}

.section-cod {
    color: #FFFFFF;
    background: rgba(47, 48, 58, 0.8);
}

.footer {
    color: #ffffff;
    background: #2F303A;
}

.footer-address {
    color: #ffffff;
}
footer-contact {
    color: #FFFFFF;
}

.footer-title {
    color: #FFFFFF;
}